In [1]:
import pandas as pd

In [3]:
#family plan married women data cleaning
df_fp_mw= pd.read_csv(r'C:\Users\rups_\OneDrive - Oklahoma A and M System\MS BAnDS\Fall 2021\programming for DS\Project\PERCENT OF MARRIED WOMEN 15-49 USING CONTRACEPTION, MODERN METHODS.csv')

In [4]:
df_fp_mw.head()

              FIPS             Name        Type  TimeFrame  Data
0            WORLD            WORLD       World       2019  0.55
1           AFRICA           AFRICA  Sub-Region       2019  0.32
2  NORTHERN AFRICA  NORTHERN AFRICA  Sub-Region       2019  0.46
3               DZ          Algeria     Country       2019  0.50
4               EG            Egypt     Country       2019  0.57

In [31]:
df_fp_mw_cleaned=df_fp_mw[df_fp_mw['Type']!='Sub-Region']
df_final=df_fp_mw_cleaned[df_fp_mw_cleaned['Name']!='WORLD']
fp_final_cleaned = df_final.drop(labels=['FIPS','TimeFrame','Type'],axis=1)
fp_final_cleaned

                Name  Data
3            Algeria  0.50
4              Egypt  0.57
5              Libya  0.16
6            Morocco  0.58
7              Sudan  0.12
..               ...   ...
229            Samoa  0.24
230  Solomon Islands  0.24
231            Tonga  0.28
232           Tuvalu  0.22
233          Vanuatu  0.37

[209 rows x 2 columns]

In [34]:
fp_final_cleaned.to_csv('family planning data for married women.csv',index=False)